{
  "env": {
    "babel-cli": {
      "presets": [
      	"es2015",
    		"stage-0",
    		"react", 
    		{"modules": false}
    	]
    },
    "production": {
      "presets": [  
    		"es2015",
    		"stage-0",
    		"react"
    	],
    	 "plugins": [
    		"transform-decorators-legacy",
    		"transform-regenerator"
  		]
    },
    "development": {
      "presets": [
      	"es2015",
    		"stage-0",
    		"react"
    	],
    	 "plugins": [
    		"transform-decorators-legacy",
    		"transform-regenerator"
 			]
    }
  }
}