
.title{
	color: rgba(122, 176, 255, 0.6);
  text-shadow: -7px 0px 0 #FFF;
  font-size: 8em;
  margin: .75em 0;
  line-height: 0.8;
  span{
	  color: white;
	  letter-spacing: -0.04em;
	  -webkit-text-fill-color: #fff; */
	  -webkit-text-stroke-width: 1px;
	  -webkit-text-stroke-color: rgba(255, 255, 255, 0.49);
	  color: #ffffff;
	  letter-spacing: -5px;
	}
	.stroke-single {
    position: relative;
    background: transparent;
    z-index: 0;
    text-shadow: -6px 0px 0 rgb(131, 181, 255);
	}
	/* add a single stroke */
	.stroke-single:before {
    content: "Ren";
    position: absolute;
    left: 0;
    z-index: -1;
    text-shadow: 6px 0px 0 rgb(251, 182, 178);
	}
}

.tweet-item{
  margin-bottom: 0.5em;
  background: #f4f8fb;
  border: 1px solid #DBE0E4;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
/*   &:nth-of-type(odd){
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  &:nth-of-type(even){
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }*/
  .tweet-item__image{
		margin-right: 0.5em;
  }
	p{
		margin:0.25em 0;
		font-size: 1rem;
	}
}